.env
venv/
__pycache__/
*.pyc
.pytest_cache/
.DS_Store
localstack-data/
terraform/.terraform/
terraform/terraform.tfstate*
terraform/.terraform.lock.hcl
*.log
.idea/
.vscode/
*.egg-info/
dist/
build/
.ipynb_checkpoints/
*.tfvars
